<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900" rel="stylesheet">
</head>

<body class="">
    <!-- TRUSTNAV OFF -->
    <div class="popup-wrap standar" style="display: none;" >
    <!-- HEADER -->
      <header>
          <div class="title-wrap">
              <img src="./img/check-logo.svg" class="logo">
              <img src="./img/trustnav-head.png" alt="">
              <!-- <span class="title">Trustnav <span class="subtitle">safebrowsing</span></span> -->
          </div>
          <img src="./img/settings.svg" class="gear-icon">
      </header>
      <!-- HEADER -->

      <section>
          <div class="system-off-title">
              <img src="./img/alert-triangle.svg" alt="">
              You are not protected <br>
              <span>Switch on Trustnav to browse safe</span>
          </div>
      </section>

      <section>
          <div class="grey-box">
              <div class="circular-btn">
                  <div class="circular-btn-fill">
                      <img src="./img/prower.svg" alt="">
                  </div>
              </div>
              <p class="switch-on">Switch On</p>
          </div>
      </section>

      <section>
          <div class="share-space">
              <div class="">
                  <div class="share-icon-wrap">
                      <img src="./img/share.svg" alt="">
                  </div>
              </div>
              <div class="share-wrap">
                  Reccomend Trustnav to your friends and enjoy it for free. Forever!
                  <button type="button" class="share-button">Share</button>
              </div>
              <div class="share-close">
                  <img src="./img/close.svg" alt="">
              </div>
          </div>
      </section>

    </div>
    <!-- TRUSTNAV OFF -->

    <!-- PRIMER BOCETO ESTADO DESCONOCIDO -->
    <div class="popup-wrap standar" >
    <!-- HEADER -->
      <header>
          <div class="title-wrap">
              <img src="./img/trustnav-head.png" alt="">
          </div>
          <span class="settingsMenuBtn" style="cursor: pointer;"><img src="./img/settings.svg" class="gear-icon"></span>
      </header>
      <!-- HEADER -->

      <!-- CAJA DE ESTADOS  -->
      <section>
          <div class="box status orange">
              <div class="circle white">
                  <img src="img/help-circle.svg" class="circle-icon">
              </div>
              <span class="status-text">Unkown site</span>
          </div>
      </section>
      <!-- CAJA DE ESTADOS  -->

      <!-- TEXTO EXPLICATIVO DEL VOTO -->
      <section>
          <div class="vote-text">
              <span>Help us to keep you safe of malware and phishing sites. <span class="caption-text">Is this web reliable?</span></span>
          </div>
      </section>
      <!-- TEXTO EXPLICATIVO DEL VOTO -->

      <!-- SECCION DE VOTOS -->
      <section>
          <div class="votes-wrap">

              <!-- Voto negativo -->
              <div class="box votes">
                  <div class="circle red">
                      <img src="img/shape.svg" class="vote-down-logo">
                  </div>
                  <span class="box-vote-text">Unsafe</span>
              </div>
              <!-- Voto negativo -->

              <!-- Voto positivo -->
              <div class="box votes">
                  <div class="circle green">
                      <img src="img/shape-up.svg" class="vote-down-logo">
                  </div>
                  <span class="box-vote-text">Safe</span>
              </div>
              <!-- Voto positivo -->

          </div>
      </section>
      <!-- SECCION DE VOTOS -->
    </div>
    <!-- PRIMER BOCETO ESTADO DESCONOCIDO -->

    <!-- SEGUNDO BOCETO ESTADO SAFE Y VOTO SAFE REALIZADO -->
    <div class="popup-wrap standar" style="display: none;">
    <!-- HEADER -->
      <header>
          <div class="title-wrap">
              <img src="./img/trustnav-head.png" alt="">

          </div>
          <img src="./img/settings.svg" class="gear-icon">
      </header>
      <!-- HEADER -->

      <!-- CAJA DE ESTADOS  -->
      <section>
          <div class="box status green">
              <div class="circle white">
                  <img src="img/field.svg" class="circle-icon">
              </div>
              <span class="status-text">This website is safe</span>
          </div>
      </section>
      <!-- CAJA DE ESTADOS  -->

      <!-- TEXTO EXPLICATIVO DEL VOTO -->
      <section>
          <div class="vote-text">
              <span>You selected this site as safe. <br> Thank you for your feedback!</span>
          </div>
      </section>
      <!-- TEXTO EXPLICATIVO DEL VOTO -->

      <!-- SECCION DE VOTOS -->
      <section>
          <div class="votes-wrap">

              <!-- Voto positivo  realizado -->
              <div class="box positive-vote">
                  <div class="circle green">
                      <img src="img/shape-up.svg" class="vote-down-logo">
                  </div>
                  <span class="box-vote-text">Safe</span>

                  <div class="undue-vote">
                     <img src="img/undue.svg" alt="">
                     Undo
                  </div>
              </div>
              <!-- Voto positivo -->

          </div>
      </section>
      <!-- SECCION DE VOTOS -->
    </div>
    <!-- SEGUNDO BOCETO ESTADO SAFE Y VOTO SAFE REALIZADO -->

    <!-- TERCER BOCETO ESTADO INSEGURO y VOTOS SIN REALIZAR -->
    <div class="popup-wrap standar" style="display : none;">
    <!-- HEADER -->
      <header>
          <div class="title-wrap">
              <img src="./img/trustnav-head.png" alt="">

          </div>
          <img src="./img/settings.svg" class="gear-icon">
      </header>
      <!-- HEADER -->

      <!-- CAJA DE ESTADOS  -->
      <section>
          <div class="box status red">
              <div class="circle white">
                  <img src="img/alert-octagon.svg" class="circle-icon">
              </div>
              <span class="status-text">This website is unsafe</span>
          </div>
      </section>
      <!-- CAJA DE ESTADOS  -->

      <!-- TEXTO EXPLICATIVO DEL VOTO -->
      <section>
          <div class="vote-text">
              <span>Help us to keep you safe of malware and phishing sites. <span class="caption-text">Is this web reliable?</span></span>
          </div>
      </section>
      <!-- TEXTO EXPLICATIVO DEL VOTO -->

      <!-- SECCION DE VOTOS -->
      <section>
          <div class="votes-wrap">

              <!-- Voto negativo -->
              <div class="box votes">
                  <div class="circle red">
                      <img src="img/shape.svg" class="vote-down-logo">
                  </div>
                  <span class="box-vote-text">Unsafe</span>
              </div>
              <!-- Voto negativo -->

              <!-- Voto positivo -->
              <div class="box votes">
                  <div class="circle green">
                      <img src="img/shape-up.svg" class="vote-down-logo">
                  </div>
                  <span class="box-vote-text">Safe</span>
              </div>
              <!-- Voto positivo -->

          </div>
      </section>
      <!-- SECCION DE VOTOS -->
    </div>
    <!-- PRIMER BOCETO ESTADO DESCONOCIDO -->

    <!-- AJUSTES -->

    <!-- ALERTAS -->
    <div id="settings_alerts" class="popup-wrap settings" style="display: none;">
      <!-- HEADER -->
      <header>
          <div class="title-wrap">
              <img src="./img/trustnav-head.png" alt="">

          </div>
          <span class="settingsMenuBtn" style="cursor: pointer;"><img src="./img/settings.svg" class="gear-icon"></span>
          
      </header>
      <!-- HEADER -->

      <!-- SETTINGS HEADER  -->
      <section>
          <div class="settings-head">
              <img class="go-back-arrow" src="./img/arrow-left.svg" alt="">
              <p>Settings</p>
          </div>
      </section>
      <!-- SETTINGS HEADER  -->

      <!-- CONTENIDO PRINCIPAL -->
      <main>

          <!-- HEADER DE TABS -->
          <section>
                <div class="tabs-triggers">
                    <div class="selected">
                        Alerts
                    </div>
                    <div>
                        Search engine
                    </div>
                    <div>
                        About
                    </div>
                </div>
          </section>
          <!-- HEADER DE TABS -->

          <!-- TEXTO EXPLICATIVO -->
          <p class="settings-info">You will be notified when you visit a website that has been rated as untrusted.</p>
          <!-- TEXTO EXPLICATIVO -->

          <!-- SECCION PRINCIPAL CONFIGURACION DE ALERTAS -->
          <section style="margin-top : 32px;">
              <div class="option-wrap">
                  <div class="option-name bold">
                      Show me alerts
                  </div>
                  <div class="option-switch">
                      <div class="track">

                      </div>
                      <div class="knob on">

                      </div>
                  </div>
              </div>

              <!-- TEXTO EXPLICATIVO -->
              <p class="settings-info" style="margin-top: 32px">Current websites with disabled notifications:</p>
              <!-- TEXTO EXPLICATIVO -->

              <div class="options-group">
                  <div class="option-wrap">
                      <div class="option-name">
                          https://loremipsum.com
                      </div>
                      <div class="option-switch">
                          <div class="track">

                          </div>
                          <div class="knob on">

                          </div>
                      </div>
                  </div>

                  <div class="option-wrap">
                      <div class="option-name">
                          https://loremipsum.com
                      </div>
                      <div class="option-switch">
                          <div class="track">

                          </div>
                          <div class="knob on">

                          </div>
                      </div>
                  </div>

                  <div class="option-wrap">
                      <div class="option-name">
                          https://loremipsum.com
                      </div>
                      <div class="option-switch">
                          <div class="track">

                          </div>
                          <div class="knob on">

                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- SECCION PRINCIPAL CONFIGURACION DE ALERTAS -->
      </main>
      <!-- CONTENIDO PRINCIPAL -->
    </div>
    <!-- ALERTAS -->

    <!-- SEARCH ENGINE -->
    <div id="settings_search_engine" class="popup-wrap settings" style="display: none;">
    <!-- HEADER -->
      <header>
          <div class="title-wrap">
              <img src="./img/trustnav-head.png" alt="">
          </div>
          <img src="./img/settings.svg" class="gear-icon">
      </header>
      <!-- HEADER -->

      <!-- SETTINGS HEADER  -->
      <section>
          <div class="settings-head">
              <img class="go-back-arrow" src="./img/arrow-left.svg" alt="">
              <p>Settings</p>
          </div>
      </section>
      <!-- SETTINGS HEADER  -->

      <!-- CONTENIDO PRINCIPAL -->
      <main>

          <!-- HEADER DE TABS -->
          <section>
                <div class="tabs-triggers">
                    <div>
                        Alerts
                    </div>
                    <div class="selected">
                        Search engine
                    </div>
                    <div>
                        About
                    </div>
                </div>
          </section>
          <!-- HEADER DE TABS -->

          <!-- TEXTO EXPLICATIVO -->
          <p class="settings-info">Choose the search engine you want to use when searching on newtab page or on the address bar:</p>
          <!-- TEXTO EXPLICATIVO -->

          <!-- SECCION PRINCIPAL CONFIGURACION DE ALERTAS -->
          <section style="margin-top : 32px;">
              <div class="options-group">
                  <div class="option-wrap radio-selected">
                      <div>
                          <span class="option-name">Trustnav Safe Search</span> (Reccomended)
                      </div>
                      <div class="option-radio">
                          <div class="radio-circle">
                              <div class="radio-fill">

                              </div>
                          </div>

                      </div>
                  </div>

                  <div class="option-wrap ">
                      <div >
                          <span class="option-name">Google</span>
                      </div>
                      <div class="option-radio">
                          <div class="radio-circle">

                          </div>
                      </div>
                  </div>

                  <div class="option-wrap">
                      <div>
                          <span  class="option-name">Norton Safe Engine</span>
                      </div>
                      <div class="option-radio">
                          <div class="radio-circle">

                          </div>
                      </div>
                  </div>

                  <div class="option-wrap">
                      <div>
                          <span  class="option-name">Bing</span>
                      </div>
                      <div class="option-radio">
                          <div class="radio-circle">

                          </div>
                      </div>
                  </div>

                  <div class="option-wrap">
                      <div>
                          <span  class="option-name">Yahoo</span>
                      </div>
                      <div class="option-radio">
                          <div class="radio-circle">

                          </div>
                      </div>
                  </div>

                  <div class="option-wrap">
                      <div>
                          <span  class="option-name">Ask</span>
                      </div>
                      <div class="option-radio">
                          <div class="radio-circle">

                          </div>
                      </div>
                  </div>

                  <div class="option-wrap">
                      <div>
                          <span  class="option-name">DuckDuckGo</span>
                      </div>
                      <div class="option-radio">
                          <div class="radio-circle">

                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- SECCION PRINCIPAL CONFIGURACION DE ALERTAS -->
      </main>
      <!-- CONTENIDO PRINCIPAL -->
    </div>
    <!-- SEARCH ENGINE -->


    <!-- ABOUT -->
    <div id="settings_about" class="popup-wrap settings" style="display: none;">
    <!-- HEADER -->
      <header>
          <div class="title-wrap">
              <img src="./img/trustnav-head.png" alt="">
          </div>
          <img src="./img/settings.svg" class="gear-icon">
      </header>
      <!-- HEADER -->

      <!-- SETTINGS HEADER  -->
      <section>
          <div class="settings-head">
              <img class="go-back-arrow" src="./img/arrow-left.svg" alt="">
              <p>Settings</p>
          </div>
      </section>
      <!-- SETTINGS HEADER  -->

      <!-- CONTENIDO PRINCIPAL -->
      <main>

          <!-- HEADER DE TABS -->
          <section>
                <div class="tabs-triggers">
                    <div >
                        Alerts
                    </div>
                    <div>
                        Search engine
                    </div>
                    <div class="selected">
                        About
                    </div>
                </div>
          </section>
          <!-- HEADER DE TABS -->

          <div class="about-wrap">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie nisi.
              <br>
              <br>
              trustnav.com
          </div>

          <div class="about-footer">
              <p>
                  By using the site, you agree  <br> to our <span class="bold">Terms & Conditions</span> and <span class="bold">Privacy policy</span>
              </p>
          </div>
    </div>
    <!-- ABOUT -->

    <div id="settingsSection" class="popup-wrap settings" style="display: none;">
      <!-- HEADER -->
      <header>
          <div class="title-wrap">
              <img src="./img/trustnav-head.png" alt="">

          </div>
          <span class="settingsMenuBtn" style="cursor: pointer;"><img src="./img/settings.svg" class="gear-icon"></span>
          
      </header>
      <!-- HEADER -->

      <!-- SETTINGS HEADER  -->
      <section>
          <div class="settings-head">
              <img class="go-back-arrow" src="./img/arrow-left.svg" alt="">
              <p>Settings</p>
          </div>
      </section>
      <!-- SETTINGS HEADER  -->

      <!-- CONTENIDO PRINCIPAL -->
      <main>

          <!-- HEADER DE TABS -->
          <section>
                <div class="tabs-triggers">
                    <div class="selected">
                        Alerts
                    </div>
                    <div>
                        Search engine
                    </div>
                    <div>
                        About
                    </div>
                </div>
          </section>
          <!-- HEADER DE TABS -->

          <!-- TEXTO EXPLICATIVO -->
          <p class="settings-info">You will be notified when you visit a website that has been rated as untrusted.</p>
          <!-- TEXTO EXPLICATIVO -->

          <!-- SECCION PRINCIPAL CONFIGURACION DE ALERTAS -->
          <section style="margin-top : 32px;">
              <div class="option-wrap">
                  <div class="option-name bold">
                      Show me alerts
                  </div>
                  <div class="option-switch">
                      <div class="track">

                      </div>
                      <div class="knob on">

                      </div>
                  </div>
              </div>

              <!-- TEXTO EXPLICATIVO -->
              <p class="settings-info" style="margin-top: 32px">Current websites with disabled notifications:</p>
              <!-- TEXTO EXPLICATIVO -->

              <div class="options-group">
                  <div class="option-wrap">
                      <div class="option-name">
                          https://loremipsum.com
                      </div>
                      <div class="option-switch">
                          <div class="track">

                          </div>
                          <div class="knob on">

                          </div>
                      </div>
                  </div>

                  <div class="option-wrap">
                      <div class="option-name">
                          https://loremipsum.com
                      </div>
                      <div class="option-switch">
                          <div class="track">

                          </div>
                          <div class="knob on">

                          </div>
                      </div>
                  </div>

                  <div class="option-wrap">
                      <div class="option-name">
                          https://loremipsum.com
                      </div>
                      <div class="option-switch">
                          <div class="track">

                          </div>
                          <div class="knob on">

                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- SECCION PRINCIPAL CONFIGURACION DE ALERTAS -->
      </main>
      <!-- CONTENIDO PRINCIPAL -->
    </div>

</body>
<script src="../../vendors/jquery.min.js"></script>
<script src="./js/popup.js"></script>
<script src="./js/settings.js"></script>
</html>
