[Desktop Entry]
Type=Application
Version=1.0
Name=Instalar Void Linux
GenericName=Instalar Void Linux
Keywords=system;installer;install;instalador
Exec=/usr/bin/void-install-pkexec %f
Comment=Instalador Void Linux
Icon=icon-void-install.svg
Terminal=true
StartupNotify=true
Categories=Qt;System;
