[Desktop Entry]
Icon=preferences-desktop
Name=Biglinux.directory
Type=Link
URL[$e]=file:///usr/share/desktop-directories/Biglinux.directory
X-KDE-LastOpenedWith=org.xfce.mousepad
