[Desktop Entry]
Icon=inode-directory
Name=desktop-directories
Type=Link
URL[$e]=file:///usr/share/desktop-directories
X-KDE-LastOpenedWith=bigocrimage
