[Desktop Entry]
Icon=text-plain
Name=mimeinfo.cache
Type=Link
URL[$e]=file:///usr/share/applications/mimeinfo.cache
X-KDE-LastOpenedWith=libreoffice-writer
