[Desktop Entry]
Icon=preferences-desktop
Name=xfce-biglinux.directory
Type=Link
URL[$e]=file:///usr/share/desktop-directories/xfce-biglinux.directory
X-KDE-LastOpenedWith=org.xfce.mousepad
