[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Photopea
Exec=/usr/bin/biglinux-webapp --class=photopea.com,Chromium-browser --profile-directory=Default --app=https://photopea.com
Icon=webapp-photopea
StartupWMClass=photopea.com
Categories=Webapps;

Actions=SoftwareRender;

[Desktop Action SoftwareRender]
Name=Software Render
Exec=SoftwareRender /usr/bin/biglinux-webapp --class=photopea.com,Chromium-browser --profile-directory=Default --app=https://photopea.com
